.contents{
    width:800px;
    height:400px;
    background-color: #8b737a;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    height:100px;
    background-color: #f1afff;
}
p{
    color:white;
}